{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">TOTAL</th>
    </tr>
  </thead>
    <tbody>
      {% for i in range(0, size) %}
        <tr>
          <td colspan="1">{{ symbol[i] }}</td>
          <td colspan="1">{{ name[i] }}</td>
          <td colspan="1">{{ shares[i] }}</td>
          <td colspan="1">{{ price[i] }}</td>
          <td colspan="1">{{ total[i] }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="4">CASH</td>
        <td>{{ cash }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"></td>
        <td>{{ total_cash }}</td>
      </tr>
    </tfoot>

</table>
{% endblock %}
